<%- include("partials/header"); -%>

  <div class="container">
    <div class="row" role="listbox">
        <%postsFound.forEach(function(post){%>
        <div class="col-md-4 p-3">
            <div class="card" style="width: 18rem; height: 50%;">
                <!-- <img src="/DIGITAL-1.webp" alt="..."> -->
                <div class="card-body">
                    <h2 class="text-capitalize"><%=post.title%></h2>
                    <p class="card-text"><%-post.snippet%>...</p>
                    <a href="/posts/<%=post.slug%>" class="btn btn-outline-dark">Read More!</a>
                </div>
            </div>
        </div>
        <%});%>
      </div>
  </div>

<%- include("partials/footer"); -%>